//
// Icon Font: Avantgarde
//

@font-face {
  font-family: "Avantgarde";
  src: url("Avantgarde.eot");
  src: url("Avantgarde.eot?#iefix") format("embedded-opentype"),
       url("Avantgarde.woff") format("woff"),
       url("Avantgarde.ttf") format("truetype"),
       url("Avantgarde.svg#Avantgarde") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Avantgarde";
    src: url("Avantgarde.svg#Avantgarde") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.Avantgarde-Create:before,
.Avantgarde-Filter:before,
.Avantgarde-List-menu:before,
.Avantgarde-List-tiles:before,
.Avantgarde-Live:before,
.Avantgarde-Menu-texticon:before,
.Avantgarde-Wall:before,
.Avantgarde-Work:before,
.Avantgarde-facebook:before,
.Avantgarde-pinterest:before,
.Avantgarde-search:before,
.Avantgarde-twitter:before {
  display: inline-block;
  font-family: "Avantgarde";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.Avantgarde-Create:before { content: "\f100"; }
.Avantgarde-Filter:before { content: "\f101"; }
.Avantgarde-List-menu:before { content: "\f102"; }
.Avantgarde-List-tiles:before { content: "\f103"; }
.Avantgarde-Live:before { content: "\f104"; }
.Avantgarde-Menu-texticon:before { content: "\f105"; }
.Avantgarde-Wall:before { content: "\f106"; }
.Avantgarde-Work:before { content: "\f107"; }
.Avantgarde-facebook:before { content: "\f108"; }
.Avantgarde-pinterest:before { content: "\f109"; }
.Avantgarde-search:before { content: "\f10a"; }
.Avantgarde-twitter:before { content: "\f10b"; }

$font-Avantgarde-Create: "\f100";
$font-Avantgarde-Filter: "\f101";
$font-Avantgarde-List-menu: "\f102";
$font-Avantgarde-List-tiles: "\f103";
$font-Avantgarde-Live: "\f104";
$font-Avantgarde-Menu-texticon: "\f105";
$font-Avantgarde-Wall: "\f106";
$font-Avantgarde-Work: "\f107";
$font-Avantgarde-facebook: "\f108";
$font-Avantgarde-pinterest: "\f109";
$font-Avantgarde-search: "\f10a";
$font-Avantgarde-twitter: "\f10b";
