#create-labels label{width:33%;background:#f1f1f1;display:inline-block}
#workplace_sectionid input[type="text"]{width:33%;background:#f1f1f1;display:inline-block;vertical-align:top;min-height:2rem}
#workplace_sectionid textarea{width:33%;background-color:#f1f1f1;display:inline-block;min-height:5rem;max-height:10rem;vertical-align:top}
#garmin_data{width: 100%;}